In [4]:
import pandas as pd
import numpy as np

In [6]:
# Getting the data
data = pd.read_html('https://en.wikipedia.org/wiki/My_Hero_Academia')
# Returns a list

In [8]:
len(data)

13

In [10]:
type(data)

list

In [12]:
data[1]

,Year,Award,Category,Result,Ref.
0,2015,1st Next Manga Award,Print Manga,Won,[260]
1,2015,8th Manga Taishō,Manga Taishō,8th place,[261][262]
2,2016,40th Kodansha Manga Award,Best Shōnen Manga,Nominated,[263]
3,2016,Da Vinci 16th Annual Book of the Year,Book of the Year,22nd place,[188]
4,2017,Japan Expo Awards [fr],Daruma d'Or Manga,Won,[264][265]
5,2017,Japan Expo Awards [fr],Best Shōnen,Nominated,[264][265]
6,2017,3rd Sugoi Japan Award,Best Manga,Won,[266]
7,2017,44th Angoulême International Comics Festival,Best Youth Comic,Nominated,[267]
8,2017,23rd Salón del Manga de Barcelona,Best Shōnen Manga,Won,[268]
9,2018,Japan Expo Awards,Best Shōnen,Won,[269][270]
10,2018,30th Harvey Awards,Best Manga,Nominated,[271]
11,2018,24th Salón del Manga de Barcelona,Best Shōnen Manga,Won,[272]
12,2018,Da Vinci 18th Annual Book of the Year,Book of the Year,16th place,[189]
13,2019,31st Harvey Awards,Best Manga,Won,[273][274]
14,2020,47th Angoulême International Comics Festival,Best Youth Comic,Nominated,[275]

### Reading via read_csv
Pandas read_csv can also directly read from the link of a download see below

In [13]:
# website link https://www.football-data.co.uk/data.php
data = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')

'https://www.football-data.co.uk/mmz4281/2324/E1.csv'
'https://www.football-data.co.uk/mmz4281/2324/EC.csv'

In [18]:
dict = {}
for i in range(0,4):
  data = str('x'+str(i))
  dict[data] = i
print(dict)

{'x0': 0, 'x1': 1, 'x2': 2, 'x3': 3}

In [20]:
# Lets try to create a loop to automatically get the csv files
dict = {}
for num in range(0,4):
  data = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E{}.csv'.format(num))
  dict[num] = data

In [25]:
# for key,value in dict.items():
#   exec(f'{key} = {value}')
dict.keys()

dict_keys([0, 1, 2, 3])

In [22]:
dict[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,E0,23/12/2023,15:00,Luton,Newcastle,1,0,H,1,0,...,2.02,1.00,1.82,2.11,1.76,2.18,1.88,2.18,1.80,2.08
174,E0,23/12/2023,15:00,Nott'm Forest,Bournemouth,2,3,A,0,0,...,1.93,0.00,2.13,1.81,2.13,1.82,2.17,1.83,2.08,1.80
175,E0,23/12/2023,15:00,Tottenham,Everton,2,1,H,2,0,...,2.49,-0.75,1.89,2.04,1.89,2.03,1.95,2.12,1.86,2.00
176,E0,23/12/2023,17:30,Liverpool,Arsenal,1,1,D,1,1,...,2.30,0.00,1.86,2.07,1.86,2.07,1.89,2.17,1.82,2.07
177,E0,24/12/2023,13:00,Wolves,Chelsea,2,1,H,0,0,...,2.09,0.25,1.98,1.95,2.01,1.92,2.06,1.95,1.96,1.89

In [14]:
data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88

### Extracting tables from PDF

In [1]:
from tabula import read_pdf

In [3]:
from tabulate import tabulate

In [7]:
table = read_pdf('./Data/foo.pdf')
table

'pages' argument isn't specified.Will extract only from page 1 by default.

[  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Percent Fuel Savings Unnamed: 4
 0      Cycle         KI   Distance        NaN                  NaN        NaN
 1       Name     (1/km)       (mi)   Improved  Decreased Eliminate  Decreased
 2        NaN        NaN        NaN      Speed          Accel Stops       Idle
 3     2012_2       3.30        1.3       5.9%           9.5% 29.2%      17.4%
 4     2145_1       0.68       11.2       2.4%            0.1% 9.5%       2.7%
 5     4234_1       0.59       58.7       8.5%            1.3% 8.5%       3.3%
 6     2032_2       0.17       57.8      21.7%            0.3% 2.7%       1.2%
 7     4171_1       0.07      173.9      58.1%            1.6% 2.1%       0.5%]